<div class="container px-0">
    <div class="quem_esta_aqui">
        <div class="jumbotron col-md-5 col-12 py-4 jumqea2">
            <h3>Faça Parte</h3>
            <p>Foi enviado um e-mail para o endereço escolhido :D</p>
        </div>
    </div>
</div>