<div class="container px-0">
    <div class="quem_esta_aqui">
        <div class="jumbotron col-md-5 col-12 py-4 jumqea2">
            <h3>Faça Parte</h3>
            <form action="/faca_parte" method="POST">
                <input type="text" name="nomeUsuario" placeholder="Nome">
                <br>
                <input type="text" name="emailUsuario" placeholder="E-mail">
                <br>
                <input type="radio" name="tipoUsuario" value="credor">Posso ajudar!
                <br>
                <input type="radio" name="tipoUsuario" value="tomador">Preciso de ajuda =P
                <br>
                <button>Enviar</button>
            </form>
        </div>
    </div>
</div>