/*!
* Mastertech - Business Casual
* Insira seu código entre os comentários localizados no fim desta pagina ou/e
* Edite o código do layout original
*/


/* Edite o código abaixo para mudar as opções do layout original */

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: url('../img/tiopatinhas.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4rem;
}

.tagline-upper {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.tagline-lower {
    font-size: 1.2rem;
    line-height: 1;
}

.text-expanded {
    letter-spacing: 2px;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
    font-size: 1.25rem;
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
    border-color: #292b2c;
    max-width: 250px;
}

.map-container iframe {
    pointer-events: none;
}

.map-container iframe.clicked {
    pointer-events: auto;
}


/* Inicio do meu CSS */

.bg-custom{
    background-color: #1e5b20;
    opacity: 0.9;
}

.jumbotron{
    margin-top: 5em;
    margin-bottom: 5em;
}

.quem_esta_aqui{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.jumqea1{
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.jumqea2{
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.show{
    display: flex;
}

.max-x{
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 10px;
    padding-right: 10px;
}

.max-text{
    width: 400px;
    padding-left: 0;
}

.img-foto{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
}

.img-foto-img{
    border-radius: 100%;
}

@media (max-width: 576px) {

    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
    }

    .quem_esta_aqui{
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .jumqea1{
        margin-bottom: 10px;
        margin-top: 4em;
    }

    .jumqea2{
        margin-top: 10px;
        margin-bottom: 4em;
    }

    .show{
        display: block;
    }

    .max-x{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .max-text{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 270px;
    }

    .text{
        /*text-align: center;*/
        padding: 0;
        padding-left: 10px;
        max-width: 576px;
        margin: auto;
    }

    .max-pic{
        margin-top: 0;
        margin-bottom: 0;
    }

    .img-foto{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 10px;
    }

}

/* Fim do meu CSS */
